<%ride = Api::V1::RidePresenter.new(ride)%>
<tr>
  <td><%= ride.driving_distance %></td>
  <td><%= ride.driving_duration %></td>
  <td><%= ride.commute_distance %></td>
  <td><%= ride.commute_duration %></td>
  <td><%= ride.ride_distance %></td>
  <td><%= ride.ride_duration %></td>
  <td><%= ride.ride_earnings %></td>
  <td><%= ride.score %></td>
</tr>
